<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqxh.fiamproperty">

    <!-- 申明可能需要的网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyThemeBlue">
        <activity
            android:name=".ui.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.activity.ActiveTaskActivity"
            android:label="@string/db_task_text"
            android:theme="@style/MyThemeBlue.NoActionBar" />
        <activity
            android:name=".ui.activity.WorkorderActivity"
            android:label="@string/ccsq_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GrActivity"
            android:label="@string/cmgl_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PrMainActivity"
            android:label="@string/ccsq_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.PrActivity"
            android:label="@string/jscgsq_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.RwdMainActivity"
            android:label="@string/rwd_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.RwdActivity"
            android:label="@string/rwd_text"
            android:theme="@style/MyThemeBlue.NoActionBar"></activity>
    </application>

</manifest>